
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');


body {
    font-family: 'Baloo Chettan', cursive;
    
}

h1 {
    font-family: 'Baloo Chettan', cursive;
  }



.navbar {

    background: #141414;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #111111, #181818);   */
    background: linear-gradient(to right, #2c2c2c, #020202); 

    text-align: center;

    font-size: 25px;

    font-family: 'Baloo Chettan', cursive;

} 

.navbar-brand {
    font-family: 'Baloo Chettan', cursive;
    text-align: center
}

.mr-auto {
    margin-right: 0 !important;
}
.navbar-nav {         
    -webkit-justify-content: flex-end;
    justify-content: flex-end;  
     
} 
span {
    margin: 10px;
    
}


