.navbar {
    background: #141414;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #111111, #181818);   */
    background: linear-gradient(to right, #2c2c2c, #020202); 
    text-align: center;

    font-size: 25px;

} 

.navbar-brand {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center
}

.mr-auto {
    margin-right: 0 !important;
}
.navbar-nav {         
    -webkit-justify-content: flex-end;
    justify-content: flex-end;  
     
} 
span {
    margin: 10px;
    
}


