.list-overflow-container {
  margin: auto;
  max-height: 545px;
  max-width: 700px;
  border: 3px solid rgb(14, 11, 11);
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f3e7e3;
  text-align: left;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: rgb(31, 117, 151);
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}

.list-group-item {
  background-color:#FBD786;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  font-size: 20px;
}

i {
  color: white;
}

button {
  color: rgb(253, 164, 0);
  background-color: rgb(37, 37, 32);
  border-radius: 40%;
}